
.body {
  color: black;
  background-color: white;
  margin: 0px;
  padding: 0px;
}
body::-webkit-scrollbar {
  width: 0.5rem;

}
main {
  margin-left: 7rem;
  padding: 1rem;
}

body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 25px;
}